@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/mixins.scss';

:host {
    display: flex;
    flex-direction: row;

    padding: 1vh;
    box-shadow: $container-shadows;
}

.form-group {
    display: flex;
    flex-direction: row;
    
    .form-control {
        display: flex;
        flex-direction: column;
        width: 16.2vw;
        margin-right: 1vw;

        label {
            margin-bottom: 0.5vh;
        }

        input {
            height: $input-height;
        }
    }
}

.action-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    button {
        @include default-btn(8vw, 3vh);
    }
}