* {
    margin: 0;
    padding: 0;
}

.btn-submit {
    background: rgb(145, 178, 194);
}

.btn-danger {
    background: #bb7873;
}

input {
    padding: 3px;
    border: none;
    border-bottom: 1px solid rgb(177, 163, 163);

    &:focus {
        outline: none;
        border-bottom: 2px solid rgb(172, 172, 226);
    }
}

input.ng-touched.ng-invalid {
    border-bottom: 2px solid rgb(235, 107, 107);
    border-radius: 2px;
}
input.ng-touched.ng-valid {
    border-radius: 2px;
    border-bottom: 2px solid rgb(95, 173, 95);
}

.ngneat-dialog-content {
    width: initial !important;
    min-height: initial !important;
}

.ngneat-close-dialog {
    display: none !important;
}
