* {
    margin: 0;
    padding: 0;
}

.btn-submit {
    background: rgb(166, 190, 166);
}

.btn-danger {
    background: #e99c96;
}

input {
    padding: 3px
}


input.ng-touched.ng-invalid {
    border:solid rgb(192, 124, 124) 2px;
    border-radius: 5px;
}
input.ng-touched.ng-valid {
    border-radius: 5px;
    border:solid rgb(181, 231, 181) 2px;
}
